
html{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  transition:all 100ms 500ms ease;
  margin:0;
}

.mincho{
  font-family:"ヒラギノ明朝 ProN W3", "HiraMinProN-W3", 'Kozuka Mincho Pro', "kozuka-mincho-pr6n",  "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.gothic{
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}
.oradano{
  font-family: OradanoGSRR;
}
.vertical{
  -ms-writing-mode:tb-rl;
  -webkit-writing-mode:vertical-rl;
  writing-mode: vertical-rl;
}
.horizontal{
  -ms-writing-mode:horizontal-tb;
  -webkit-writing-mode:horizontal-tb;
  writing-mode: horizontal-tb;
}
.back-white{
  background-color: #F0F0F0;
}
ruby{
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none; 
  cursor:vertical-text;
  rt{
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    cursor:vertical-text;
  }
  rp{
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    cursor:vertical-text;
  }
}
a{
  text-decoration: none;
}
a:link{
  color:inherit;
}
a:visited{
  color:inherit;
}
::selection{
  background-color: none;
  text-shadow: 0 0 8px rgba(#000000, 0.6);
}
::-moz-selection{
  background-color: none;
  text-shadow: 0 0 8px rgba(#000000, 0.6);
}
.neighbor{
  -webkit-text-emphasis: filled sesame;
  text-emphasis: filled sesame;
}
.kerning{
  margin-bottom:-10px;
}

.loads{
  position:absolute;
  top:15px;
  left:20px;
  width:20px;
  z-index:1000;
}
.load{
  display:none;
  animation: loop 1s linear 0s infinite;
}
.success{
  display:none;
}
.fail{
  display:none;
}
.f_message{
  position:absolute;
  top:38px;
  left:1px;
  display:none;
}
.hide{
  animation:hide 5s linear 0s 1 forwards;
}


body.viewer{
  color:#333333;
  .title{
    font-size:30px;
    font-weight: 500;
    margin:50px 80px;
  }
  .author{
    position:relative;
    width:20px;
    margin: 20px 10px;
    h2{
      font-weight: 500;
      position:absolute;
      bottom:50px;
      left:0;
    }
  }
  p{
    margin:6vh 30px 4vw 30px;
    font-size: 1.2rem;
    line-height: 2;
    letter-spacing: 1px;
    text-align: justify;
    color:#333333;
  }
  .sendButton{
    position:absolute;
    border:none;
    width:50px;
    height:30px;
    border-radius: 20px;
    color:#ffffff;
    cursor:pointer;
    background-color: rgba(0, 0, 0, 0.66);
    box-shadow: 2px 2px 5px  1px rgba(#000000, 0.21);
    display:none;
    z-index: 500;
  }
  .sendButton:hover{
    color:#ffffff;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .sendButton:active{
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 1px 1px 3px  1px rgba(#000000, 0.5);
  }
  .siorioki{
    position:absolute;
    width:100%;
    height: 5vh;
    z-index: 500;
    cursor:url(/img/siori.svg),url(/img/siori.png),pointer;
  }
  .siori{
    position:absolute;
    display: none;
    width:10px;
  }
  .nextLink{
    position:absolute;
    font-size: 20px;
    bottom: 5vw;
    padding:0 70px;
  }
  .loading{
    position:fixed;
    left:0;
    top:-2px;
  }
}
.index{
  margin:0;
  
  .top{
    overflow:hidden;
  }
  .label{
    width:15vw;
    margin:-5vw 5vw 0 0;
    z-index: 500;
    img{
      width:13vw;
    }
  }
  .top{
    width:100vw;
    height:100vh;
    
  }
  .mainTitle{
    position:absolute;
    color: #333333;
    line-height: 10vw;
    height:80vh;
    width:25vw;
    left:0;
    right:0;
    bottom:0;
    top:0;
    margin:auto;
    .title{
      margin:auto;
      ruby rt{
        font-size: 2.2vw;
      }
    }
    .wagahai{
      font-size: 8vw;
    }
    .ha{
      font-size: 5vw;
    }
    .neko{
      font-size: 10vw;
      margin-top:13vw;
    }
    .dearu{
      font-size: 5vw;
    }
  }
  .phrase{
    position:absolute;
    font-size:20px;
    font-weight: 200;
    width:2vw;
    height:200vh;
    transform:translateY(-1000vh);
    z-index: 300;
  }
  .latest1{
    right:23vw;
    font-size: 2vw;
    animation: up 30s linear 0s infinite normal none running;
  }
  .latest2{
    left:28vw;
    font-size: 1.8vw;
    animation: up 28s linear 1s infinite normal none running;
  }
  .latest3{
    right:32vw;
    opacity:0.8;
    font-size: 1.5vw;
    animation: up 27s linear 3s infinite normal none running;
  }
  .latest4{
    left:24vw;
    opacity:0.7;
    font-size: 1.3vw;
    animation: up 25s linear 16s infinite normal none running;
  }
  .latest5{
    left:28vw;
    opacity:0.6;
    font-size: 1.2vw;
    animation: up 24s linear 27s infinite normal none running;
  }
  .top1{
    left:34vw;
    opacity:1;
    font-size:2.5vw;
    animation: up 25s linear 10s infinite normal none running;
  }
  .top2{
    right:25vw;
    opacity:0.8;
    animation: up 18s linear 24s infinite normal none running;
  }
  .top3{
    left:22vw;
    opacity:0.8;
    animation: up 24s linear 13s infinite normal none running;
  }
  .top4{
    right:28vw;
    opacity:0.8;
    animation: up 19s linear 17s infinite normal none running;
  }
  .top5{
    left:31vw;
    opacity:0.8;
    animation: up 25s linear 7s infinite normal none running;
  }
  .top6{
    right:18vw;
    opacity:0.8;
    animation: up 26s linear 20s infinite normal none running;
  }
  .top7{
    left:19vw;
    opacity:0.8;
    animation: up 19s linear 24s infinite normal none running;
  }
  .top8{
    right:20vw;
    opacity:0.8;
    animation: up 20s linear 16s infinite normal none running;
  }
  .top9{
    left:38vw;
    font-size: 2vw;
    animation: up 34s linear 6s infinite normal none running;
  }
  .top10{
    right:35vw;
    opacity:0.7;
    font-size: 1.2vw;
    animation: up 18s linear 10s infinite normal none running;
  }
  .top11{
    left:15vw;
    opacity:0.8;
    font-size: 1.9vw;
    animation: up 25s linear 24s infinite normal none running;
  }
  .read{
    position:absolute;
    display: block;
    bottom:2vh;
    right:0;
    left:0;
    width:20vw;
    margin:auto;
    color: #333333;
    text-align: center;
    transform: translate3d(0px, 0px, 100px);
    cursor:pointer;
    img{
      width:5vw;
    }
    p{
      margin:0;
      font-size:20px;
      line-height: 27px;
    }
  }
  .prof{
    position:absolute;
    left: 4vw;
    bottom:2vh;
    width:11vw;
    min-width: 100px;
    z-index: 500;
    text-align:center;
    .photo{
      width:11vw;
      height:auto;
      border-radius: 50%;
      min-width: 100px;
    }
    .name{
      text-align: center;
    }
    .live{
      text-align: center;
      font-size: 10px;
    }
    p{
      font-size: 11px;
    }
  }
  .bottom{
    width:100vw;
    height:auto;
    background-color: #f0f0f0;
    transform: translate3d(0px, 0px, 100px);
    z-index:500;
  }
  .episodes{
    width:85vw;
    height:18vw;
    margin:1vw 1vw;
    font-weight: bold;
    li{
      position: relative;
      float:right;
      font-size: 3vw;
      list-style-type: none;
      width:6.5vw;
      margin:0;
    }
    .maru{
      position:absolute;
      top:-1vw;
      right:1.5vw;
      width:2vw;
      height:2vw;
      background-color: #E65959;
      border-radius: 2vw;
      display:none;
    }
    a{
      margin:0;
    }
  }
  .center{
    position:relative;
    font-size:2.5vw;
    width:100vw;
    margin:5vw 0 ;
    text-align: center;
  }
  .bestPhrase{
    width:85vw;
    height:70vh;
    font-weight: bold;
    margin-bottom:30vh;
    li{
      position: relative;
      float:right;
      font-size: 1.5vw;
      list-style-type: none;
      width:5vw;
      margin-right:1.5vw;
      img{
        position:absolute;
        right:-2vw;
        top:-2vw;
        width:2.5vw;
      }
      p{
        position:absolute;
        right:-1.1vw;
        top:-2.5vw;
        font-size: 1vw;
        font-weight: 400;
      }
    }
  }
  .seisakuito{
    width:100vw;
    margin:80px auto 300px auto;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
  }
}
@keyframes down {
  0%{
    transform: translateY(-120vh);
  }
  100%{
    transform: translateY(120vh);
  }
}
@keyframes up {
  0%{
    transform: translateY(120vh);
  }
  100%{
    transform: translateY(-120vh);
  }
}
@keyframes loop{
  from{
    transform: rotate(0);
  }
  to{
    transform:rotate(360deg);
  }
}
@keyframes hide{
  0%{
    opacity:1;
  }
  90%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}


@media screen and (max-width:750px) {
  body.index{
    .label{
      display:none;
    }
    p{
      font-size:1rem;
      line-height: 1.55rem;
    }
    .center{
      margin-top:10vh;
      font-size: 5vw;
    }
    .episodes{
      width:90vw;
      height:80vh;
      li{
        width:15vw;
        font-size: 8vw;
        margin-bottom:5vh;
      }
      .maru{
        width:5vw;
        height:5vw;
        border-radius: 5vw;
      }
    }
    .prof{
      margin:auto;
      right:0;
      left:0;
      top:auto;
      bottom:15vh;
      width:10vw;
      min-width: 200px;
      height:30vh;;
      img.photo{
        width:5vw;
        min-width: 70px;
        margin: auto;
      }
      p{
        display:none;
      }
    }
    .seisakuito{
      width:90vw;
      p{
        font-size: 4vw;
      }
    }
    .bestPhrase{
      width:90vw;
      margin:0 5vw;
      height:200vh;
      li{
        font-size: 5vw;
        width:10vw;
        height:80vh;
        margin-bottom:20vh;
      }
    }
  }
}
