- var content = data.main
doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="description" content="phrase viewer は読んだ小説のお気に入りフレーズを集計、トップビューに表示するサイトです。第一弾として『我輩は猫である』を集計中！")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(property="og:title" content="PhraseViewer | 小説のお気に入りフレーズを共有するビューア")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://yamajyn.github.io/PhraseViewer/index.html")
    meta(property="og:image" content="https://yamajyn.github.io/PhraseViewer/img/thumbnail.png")
    meta(property="og:site_name" content="フレーズビューアー")
    link(rel="stylesheet", href="css/style.css")
    script(src="js/jquery-3.2.1.min.js")
    script(src="js/jquery.cookie.js")
    script(src="js/top.js")
    title PhraseViewer | #{content.title}
  body.mincho.back-white.index
    .vertical.top
      img.loads.load(src="img/loop.svg")
      img.loads.success(src="img/success.svg")
      img.loads.fail(src="img/fail.svg")
      p.f_message.vertical フレーズの取得に失敗しました
      .mainTitle 
        .title
          span.wagahai 
            ruby 
              rb 我輩
              rt わがはい
          span.ha は
          br
          span.neko 
            ruby
              rb 猫
              rt ねこ
          span.dearu である
      //- .phrase.top1
      //-   span 1大飯を食った
      //-     ruby
      //-       rb 後 
      //-       rt あと 
      //-   span でタカジヤスターゼを飲む
      //- .phrase.top2
      //-   span 2大飯を食った
      //-     ruby
      //-       rb 後 
      //-       rt あと 
      //-   span でタカジヤスターゼを飲む
      //- .phrase.top3
      //-   span 3大飯を食った
      //-     ruby
      //-       rb 後 
      //-       rt あと 
      //-   span でタカジヤスターゼを飲む
      //- .phrase.top4
      //-   span 4大飯を食った
      //-     ruby
      //-       rb 後 
      //-       rt あと 
      //-   span でタカジヤスターゼを飲む
      //- .phrase.top5
      //-   span 5大飯を食った
      //-     ruby
      //-       rb 後 
      //-       rt あと 
      //-   span でタカジヤスターゼを飲む
      //- .phrase.top6
      //-   span 6大飯を食った
      //-     ruby
      //-       rb 後 
      //-       rt あと 
      //-   span でタカジヤスターゼを飲む
      //- .phrase.top7
      //-   span 7大飯を食った
      //-     ruby
      //-       rb 後 
      //-       rt あと 
      //-   span でタカジヤスターゼを飲む
      //- .phrase.top8
      //-   span 8大飯を食った
      //-     ruby
      //-       rb 後 
      //-       rt あと 
      //-   span でタカジヤスターゼを飲む
      //- .phrase.top9
      //-   span 9大飯を食った
      //-     ruby
      //-       rb 後 
      //-       rt あと 
      //-   span でタカジヤスターゼを飲む
      //- .phrase.top10
      //-   span 10大飯を食った
      //-     ruby
      //-       rb 後 
      //-       rt あと 
      //-   span でタカジヤスターゼを飲む
      //- .phrase.top11
      //-   span 11大飯を食った
      //-     ruby
      //-       rb 後 
      //-       rt あと 
      //-   span でタカジヤスターゼを飲む
      //- .phrase.latest1
      //-   span L1大飯を食った
      //-     ruby
      //-       rb 後 
      //-       rt あと 
      //-   span でタカジヤスターゼを飲む
      //- .phrase.latest2
      //-   span L2大飯を食った
      //-     ruby
      //-       rb 後 
      //-       rt あと 
      //-   span でタカジヤスターゼを飲む
      //- .phrase.latest3
      //-   span L3大飯を食った
      //-     ruby
      //-       rb 後 
      //-       rt あと 
      //-   span でタカジヤスターゼを飲む
      //- .phrase.latest4
      //-   span L4大飯を食った
      //-     ruby
      //-       rb 後 
      //-       rt あと 
      //-   span でタカジヤスターゼを飲む
      //- .phrase.latest5
      //-   span L5大飯を食った
      //-     ruby
      //-       rb 後 
      //-       rt あと 
      //-   span でタカジヤスターゼを飲む
            
      .label
        img(src="img/top_label.svg")
        img(src="img/howto.svg")
      .horizontal.read
        img(src="img/arrow.svg")
        p 読む
      .prof.horizontal
        img(src="img/Natsume_Soseki_photo.jpg").photo
        .name 夏目漱石
        .live [1867-1916]
        p.gothic 『吾輩は猫である』を手始めに多彩な創作活動を展開した。代表作に『三四郎』『それから』『門』『こゝろ』、遺作の『明暗』など多数の著がある。
    .bottom
      .center 全１１話
      .episodes
        ul
          li: a.vertical(href="viewer1.html") 第一話
            .maru
          li: a.vertical(href="viewer2.html") 第二話
            .maru
          li: a.vertical(href="viewer3.html") 第三話
            .maru
          li: a.vertical(href="viewer4.html") 第四話
            .maru
          li: a.vertical(href="viewer5.html") 第五話
            .maru
          li: a.vertical(href="viewer6.html") 第六話
            .maru
          li: a.vertical(href="viewer7.html") 第七話
            .maru
          li: a.vertical(href="viewer8.html") 第八話
            .maru
          li: a.vertical(href="viewer9.html") 第九話
            .maru
          li: a.vertical(href="viewer10.html") 第十話
            .maru
          li: a.vertical(href="viewer11.html") 第十一話
            .maru
      .center 各話のお気に入りフレーズ、トップ
      .bestPhrase
        ul
        - for(var i=0;i<11;i++)
          li.vertical 　
      .center 制作意図
      .seisakuito
        p 日本文学をWEBで楽しく、易しく読みたい。<br>そんな人のために「PhreseViewer 我輩は猫である」を制作しました。
            
