- var content = data.main
doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    script(src="js/jquery-3.2.1.min.js")
    title #{content.title}
  body.mincho.vertical.back-white.index
    .mainTitle 
      .title
        span.wagahai 
          ruby 
            rb 我輩
            rt わがはい
        span.ha は
        br
        span.neko 
          ruby
            rb 猫
            rt ねこ
        span.dearu である
    a.read(href="/viewer.html") 
      p.gothic 読む
    .prof.horizontal
      img(src="/img/Natsume_Soseki_photo.jpg").photo
      .name 夏目漱石
      .live [1867-1916]
      p.gothic 『吾輩は猫である』を手始めに多彩な創作活動を展開した。代表作に『三四郎』『それから』『門』『こゝろ』、遺作の『明暗』など多数の著がある。
      
    
