@charset "UTF-8";
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: black;
  transition: all 100ms 500ms ease;
  margin: 0;
}

.mincho {
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", 'Kozuka Mincho Pro', "kozuka-mincho-pr6n",  "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.gothic {
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

.oradano {
  font-family: OradanoGSRR;
}

.vertical {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.horizontal {
  -ms-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
}

.back-white {
  background-color: #F0F0F0;
}

ruby {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: vertical-text;
}

ruby rt {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: vertical-text;
}

ruby rp {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: vertical-text;
}

a {
  text-decoration: none;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #111111;
}

::selection {
  background-color: none;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

::-moz-selection {
  background-color: none;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.neighbor {
  -webkit-text-emphasis: filled sesame;
  text-emphasis: filled sesame;
}

.kerning {
  margin-bottom: -10px;
}

body.viewer {
  color: #333333;
}

body.viewer .title {
  font-size: 30px;
  font-weight: 500;
  margin: 50px 80px;
}

body.viewer .author {
  position: relative;
  width: 20px;
  margin: 20px 10px;
}

body.viewer .author h2 {
  font-weight: 500;
  position: absolute;
  bottom: 50px;
  left: 0;
}

body.viewer p {
  margin: 4vw 30px 5vw 30px;
  font-size: 1.2rem;
  line-height: 2.2rem;
  letter-spacing: 2px;
  text-align: justify;
  color: #333333;
}

body.viewer .sendButton {
  position: absolute;
  border: none;
  width: 50px;
  height: 30px;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.66);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.21);
  display: none;
  z-index: 1000;
}

body.viewer .sendButton:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
}

body.viewer .sendButton:active {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}

body.viewer .siorioki {
  position: absolute;
  width: 100%;
  height: 4vw;
  cursor: url(/img/siori.svg), auto;
}

body.viewer .siori {
  position: absolute;
  display: none;
  width: 10px;
}

body.viewer .nextLink {
  position: absolute;
  font-size: 20px;
  bottom: 5vw;
  padding: 0 70px;
}

.rialistic-font {
  color: #f1ebe5;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
}

body.index {
  margin: 0;
}

body.index .top {
  overflow: hidden;
}

body.index .label {
  width: 15vw;
  margin: -6vw 5vw 0 0;
  max-width: 150px;
}

body.index .label img {
  width: 15vw;
}

body.index .top {
  width: 100vw;
  height: 100vh;
}

body.index .mainTitle {
  position: absolute;
  color: #333333;
  line-height: 10vw;
  height: 80vh;
  width: 25vw;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

body.index .mainTitle .title {
  margin: auto;
}

body.index .mainTitle .title ruby rt {
  font-size: 2.2vw;
}

body.index .mainTitle .wagahai {
  font-size: 8vw;
}

body.index .mainTitle .ha {
  font-size: 5vw;
}

body.index .mainTitle .neko {
  font-size: 10vw;
  margin-top: 13vw;
}

body.index .mainTitle .dearu {
  font-size: 5vw;
}

body.index .phrase {
  position: relative;
  font-size: 20px;
  width: 2vw;
}

body.index .phrase .counter {
  position: relative;
  width: 35px;
  height: 35px;
  height: auto;
}

body.index .phrase .counter p {
  position: absolute;
  top: -5px;
  right: 0;
  left: -1px;
  bottom: 0;
  text-align: center;
  line-height: 1rem;
  font-size: 15px;
}

body.index .phrase .counter img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 35px;
}

body.index .read {
  position: absolute;
  display: block;
  bottom: 2vh;
  right: 0;
  left: 0;
  width: 20vw;
  margin: auto;
  color: #333333;
  text-align: center;
  cursor: pointer;
}

body.index .read img {
  width: 5vw;
}

body.index .read p {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
}

body.index .prof {
  position: absolute;
  left: 4vw;
  bottom: 2vh;
  width: 9vw;
  min-width: 100px;
}

body.index .prof .photo {
  width: 9vw;
  height: auto;
  border-radius: 50%;
  min-width: 100px;
}

body.index .prof .name {
  text-align: center;
}

body.index .prof .live {
  text-align: center;
  font-size: 10px;
}

body.index .prof p {
  font-size: 11px;
}

body.index .episodes {
  width: 85vw;
  height: 200px;
  margin: 0 1vw;
  font-weight: bold;
}

body.index .episodes li {
  position: relative;
  float: right;
  font-size: 3vw;
  list-style-type: none;
  width: 6.5vw;
}

body.index .episodes .maru {
  position: absolute;
  top: -10px;
  right: 1.5vw;
  width: 20px;
  height: 20px;
  background-color: #E65959;
  border-radius: 10px;
  display: none;
}

body.index .episodes a {
  margin: 0;
}

body.index .center {
  font-size: 3vw;
  width: 100vw;
  margin: 60px 0 50px 0;
  text-align: center;
}

body.index .bestPhrase {
  width: 85vw;
  height: 400px;
  font-weight: bold;
}

body.index .bestPhrase li {
  position: relative;
  float: right;
  font-size: 1.5vw;
  list-style-type: none;
  margin-right: 2vw;
  width: 4.5vw;
}

@keyframes appear {
  0% {
    transform: translateY(-100vh);
  }
  50% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes neko1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 750px) {
  body p {
    font-size: 1rem;
    line-height: 1.55rem;
  }
  body .prof {
    display: none;
  }
}
