meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
meta(name="description" content="phrase viewer は読んだ小説のお気に入りフレーズを集計、トップビューに表示するサイトです。第一弾として『我輩は猫である』を集計中！")
meta(property="og:title" content="PhraseViewer | 小説のお気に入りフレーズを共有するビューア")
meta(property="og:type" content="website")
meta(property="og:url" content="https://yamajyn.github.io/PhraseViewer/index.html")
meta(property="og:image" content="https://yamajyn.github.io/PhraseViewer/img/thumbnail.png")
meta(property="og:site_name" content="フレーズビューアー")
